@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
img {
  display: block;
  width: 100%;
  /* vertical-align: top; */
}
body {
  color: #000;
  text-align: center;
}
/* top */
header {
  width: 35%;
  position: fixed;
  top: 0;
  left: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
header h1 {
  position: relative;
  font-size: 85px;
  font-weight: 800;
  margin-top: 170px;
  margin-left: 10%;
  text-align: left;
  z-index: 9999;
}
header h1 span {
  font-size: 75px;
  font-weight: 200;
}
/* object img */
.object {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 50px;
  left: 0;
}
.object .border {
  width: 500px;
  height: 500px;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
  position: absolute;
  bottom: 100px;
  left: -100px;
  animation: obj2 1s ease-in-out;
  /* 애니메이션 완료 후 최종상태 유지 */
  animation-fill-mode: both;
}
.border img {
  left: -200px;
  bottom: 0;
  animation: obj1 1s ease-in-out;
  /* 애니메이션 완료 후 최종상태 유지 */
  animation-fill-mode: both;
}
@keyframes obj1 {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(30px);
  }
}
@keyframes obj2 {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(30px);
  }
}
/* img section */
section {
  width: 60%;
  margin: 200px 30%;
  padding: 30px 0;
}
.contents {
  width: calc(100% / 3);
  float: left;
}
.cf::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
.contents a {
  width: 90%;
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
}
.contents a img {
  transition: all 0.3s;
}
.contents a img:hover {
  transform: scale(1.2);
  filter: blur(2px);
}
/* nav */
nav {
  width: 10%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}
nav a {
  width: 40px;
  height: 30px;
  display: block;
  margin: 20%;
}
nav a span {
  width: 40px;
  height: 5.3px;
  background-color: #000;
  display: block;
}
nav a span:nth-of-type(2) {
  margin: 7px 0;
}
/* footer */
footer {
  width: 100%;
  background-color: #000;
  padding: 50px 0;
  color: #fff;
}
.ft_icon {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.ft_icon li {
  display: inline-block;
  padding: 0 10px;
}
